body {
    background: black;
    max-height: 100vh;
}

/* height info + clicker + shop = 100vh */

#info {
    height: 16vh;
}

#clicker {
    height: 56vh;
    display: flex;
    flex-direction: row;
}

#clicker .card {
    margin: 2vh;
    max-width: 20vw;
    max-height: 40vh;
}

#shop {
    height: 30vh;
}